<footer >
  <div class="footer-top text-center">Back To Top</div>
  <div class="footer-sec">
    <div class="container">
      <div class="row p-5 text-white py-5">
        <div class="col-md-3">
          <p class="active">Get to Know Us</p>
          <p>Careers</p>
          <p>Blog</p>
          <p>About Amazon</p>
          <p>Investor Relations</p>
          <p>Amazon Devices</p>
          <p>Amazon Science</p>
        </div>
        <div class="col-md-3">
          <p class="active">Make Money with Us</p>
          <p>Sell products on Amazon</p>
          <p>Sell on Amazon Business</p>
          <p>Sell apps on Amazon</p>
          <p>Become an Affiliate</p>
          <p>Advertise Your Products</p>
          <p>Self-Publish with Us</p>
          <p>Host an Amazon Hub</p>
          <p>›See More Make Money with Us</p>
        </div>
        <div class="col-md-3">
          <p class="active">Amazon Payment Products</p>
          <p>Amazon Business Card</p>
          <p>Shop with Points</p>
          <p>Reload Your Balance</p>
          <p>Amazon Currency Converter</p>
        </div>
        <div class="col-md-3">
          <p class="active">Let Us Help You</p>
          <p>Amazon and COVID-19</p>
          <p>Your Account</p>
          <p>Your Orders</p>
          <p>Shipping Rates & Policies</p>
          <p>Returns & Replacements</p>
          <p>Manage Your Content and Devices</p>
          <p>Help</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-sec2 d-flex justify-content-center py-5">
    <img
      src="https://th.bing.com/th/id/R.53bc80c8e19db7955e7ba0aa2438aa68?rik=D1p21LTwuSV0%2fw&pid=ImgRaw&r=0"
      alt=""
    />
    <div class="btn-group ms-4">
      <button class="me-4">English</button>
      <button class="me-4">$ - USD - US Dollar (Default)</button>
      <button>United States</button>
    </div>
  </div>
  <div class="footer-sec-3">
    <div class="container ">
      <div class="footer-sec-4 justify-content-between text-white pt-5">
        <div>
          <div class="mb-4">
            <h5 class="active">Amazon Music</h5>
            <p>Stream millionsof songs</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Amazon Business</h5>
            <p>Everything For Your Business</p>
          </div>
          <div class="mb-4">
            <h5 class="active">IMDbPro</h5>
            <p>Get Info Entertainment Professionals Need</p>
          </div>
          <div class="mb-4">
            <h5 class="active">eero WiFi</h5>
            <p>Stream 4K Video in Every Room</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">Amazon Ads</h5>
            <p>Reach customers wherever they spend their time</p>
          </div>
          <div class="mb-4">
            <h5 class="active">AmazonGlobal</h5>
            <p>Ship Orders Internationally</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Kindle Direct Publishing</h5>
            <p>Indie Digital & Print Publishing Made Easy</p>
          </div>
          <div class="mb-4">
            <h5 class="active">eBlink</h5>
            <p>Smart Security for Every Home</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">6pm</h5>
            <p>Score deals on fashion brands</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Amazon Web Services</h5>
            <p>Scalable Cloud Computing Services</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Prime Video Direct</h5>
            <p>Video Distribution Made Easy</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Neighbors App</h5>
            <p>Real-Time Crime & Safety Alerts</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">AbeBooks</h5>
            <p>Books, art & collectibles</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Audible</h5>
            <p>Listen to Books & Original Audio Performances</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Shopbop</h5>
            <p>Designer Fashion Brands</p>
          </div>
          <div class="mb-4">
            <h5 class="active">NAmazon Subscription Boxes</h5>
            <p>Top subscription boxes – right to your door</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">ACX</h5>
            <p>Audiobook Publishing Made Easy</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Box Office Mojo</h5>
            <p>Find Movie Box Office Data</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Woot!</h5>
            <p>Deals and Shenanigans</p>
          </div>
          <div class="mb-4">
            <h5 class="active">PillPack</h5>
            <p>Pharmacy Simplified</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">Sell on Amazon</h5>
            <p>Start a Selling Account</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Goodreads</h5>
            <p>Book reviews & recommendations</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Zappos</h5>
            <p>Shoes & Clothing</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Amazon Luna</h5>
            <p>Video games from the cloud, no console required</p>
          </div>
        </div>
        <div>
          <div class="mb-4">
            <h5 class="active">Veeqo</h5>
            <p>Shipping Software Inventory Management</p>
          </div>
          <div class="mb-4">
            <h5 class="active">IMDb</h5>
            <p>Movies, TV & Celebrities</p>
          </div>
          <div class="mb-4">
            <h5 class="active">Ring</h5>
            <p>Smart Home Security Systems</p>
          </div>
        </div>
      </div>
      <h5 class="footer-width pb-4 mx-auto pt-3">Conditions of Use
        Privacy Notice
        Consumer Health Data Privacy Disclosure
        Your Ads Privacy Choices
        © 1996-2025, Amazon.com, Inc. or its affiliates</h5>
    </div>
  </div>
</footer>
