
<div class="footer-top text-center" (click)="scrollToTop()">{{ 'BUTTONS.BACK_TO_TOP' | translate }}</div>

<div class="footer-links">
  <div class="column">
    <h4>{{ 'FOOTER.GET_TO_KNOW_US' | translate }}</h4>
    <ul>
      <li>{{ 'FOOTER.CAREERS' | translate }}</li>
      <li>{{ 'FOOTER.BLOG' | translate }}</li>
      <li>{{ 'FOOTER.ABOUT' | translate }}</li>
      <li>{{ 'FOOTER.INVESTOR_RELATIONS' | translate }}</li>
      <li>{{ 'FOOTER.DEVICES' | translate }}</li>
      <li>{{ 'FOOTER.SCIENCE' | translate }}</li>
    </ul>
  </div>
  <div class="column">
    <h4>{{ 'FOOTER.MAKE_MONEY' | translate }}</h4>
    <ul>
      <li>{{ 'FOOTER.SELL_PRODUCTS' | translate }}</li>
      <li>{{ 'FOOTER.SELL_BUSINESS' | translate }}</li>
      <li>{{ 'FOOTER.SELL_APPS' | translate }}</li>
      <li>{{ 'FOOTER.AFFILIATE' | translate }}</li>
      <li>{{ 'FOOTER.ADVERTISE' | translate }}</li>
      <li>{{ 'FOOTER.SELF_PUBLISH' | translate }}</li>
      <li>{{ 'FOOTER.HOST_HUB' | translate }}</li>
      <li>{{ 'FOOTER.SEE_MORE' | translate }}</li>
    </ul>
  </div>
  <div class="column">
    <h4>{{ 'FOOTER.PAYMENT_PRODUCTS' | translate }}</h4>
    <ul>
      <li>{{ 'FOOTER.BUSINESS_CARD' | translate }}</li>
      <li>{{ 'FOOTER.SHOP_POINTS' | translate }}</li>
      <li>{{ 'FOOTER.RELOAD' | translate }}</li>
      <li>{{ 'FOOTER.CURRENCY_CONVERTER' | translate }}</li>
    </ul>
  </div>
  <div class="column">
    <h4>{{ 'FOOTER.HELP_YOU' | translate }}</h4>
    <ul>
      <li>{{ 'FOOTER.COVID' | translate }}</li>
      <li>{{ 'FOOTER.ACCOUNT' | translate }}</li>
      <li>{{ 'FOOTER.ORDERS' | translate }}</li>
      <li>{{ 'FOOTER.SHIPPING' | translate }}</li>
      <li>{{ 'FOOTER.RETURNS' | translate }}</li>
      <li>{{ 'FOOTER.CONTENT_DEVICES' | translate }}</li>
      <li>{{ 'FOOTER.HELP' | translate }}</li>
    </ul>
  </div>
</div>

<div class="footer-sec2 d-flex justify-content-center py-5">
  <img
    src="https://th.bing.com/th/id/R.53bc80c8e19db7955e7ba0aa2438aa68?rik=D1p21LTwuSV0%2fw&pid=ImgRaw&r=0"
    alt="Logo"
  />
  <div class="btn-group ms-4">
    <button class="me-4">{{ 'FOOTER.english' | translate }}</button>
    <button class="me-4"> EGP - egyption pound (Default)</button>
    <button>Egypt</button>
  </div>
</div>




<div class="footer-services">
  <div>
    <h5>{{ 'FOOTER.MUSIC' | translate }}</h5>
    <span>{{ 'FOOTER.MUSIC_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.BUSINESS' | translate }}</h5>
    <span>{{ 'FOOTER.BUSINESS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.IMDBPRO' | translate }}</h5>
    <span>{{ 'FOOTER.IMDBPRO_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.EERO' | translate }}</h5>
    <span>{{ 'FOOTER.EERO_DESC' | translate }}</span>
  </div>

  <div>
    <h5>{{ 'FOOTER.ADS' | translate }}</h5>
    <span>{{ 'FOOTER.ADS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.GLOBAL' | translate }}</h5>
    <span>{{ 'FOOTER.GLOBAL_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.KINDLE' | translate }}</h5>
    <span>{{ 'FOOTER.KINDLE_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.EBLINK' | translate }}</h5>
    <span>{{ 'FOOTER.EBLINK_DESC' | translate }}</span>
  </div>

  <div>
    <h5>{{ 'FOOTER.SIXPM' | translate }}</h5>
    <span>{{ 'FOOTER.SIXPM_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.AWS' | translate }}</h5>
    <span>{{ 'FOOTER.AWS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.PVD' | translate }}</h5>
    <span>{{ 'FOOTER.PVD_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.NEIGHBORS' | translate }}</h5>
    <span>{{ 'FOOTER.NEIGHBORS_DESC' | translate }}</span>
  </div>

  <div>
    <h5>{{ 'FOOTER.ABEBOOKS' | translate }}</h5>
    <span>{{ 'FOOTER.ABEBOOKS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.AUDIBLE' | translate }}</h5>
    <span>{{ 'FOOTER.AUDIBLE_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.SHOPBOP' | translate }}</h5>
    <span>{{ 'FOOTER.SHOPBOP_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.BOXES' | translate }}</h5>
    <span>{{ 'FOOTER.BOXES_DESC' | translate }}</span>
  </div>

  <div>
    <h5>{{ 'FOOTER.ACX' | translate }}</h5>
    <span>{{ 'FOOTER.ACX_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.BOX_MOJO' | translate }}</h5>
    <span>{{ 'FOOTER.BOX_MOJO_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.WOOT' | translate }}</h5>
    <span>{{ 'FOOTER.WOOT_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.PILLPACK' | translate }}</h5>
    <span>{{ 'FOOTER.PILLPACK_DESC' | translate }}</span>
  </div>


  <!-- become a seller -->
  <div>
    <h5>
      <a [routerLink]="['/become-seller']" >
        {{ 'FOOTER.SELL' | translate }}
      </a>
    </h5>
    <span>
      <a [routerLink]="['/become-seller']" >
        {{ 'FOOTER.SELL_DESC' | translate }}
      </a>
    </span>
  </div>
  
  <div>
    <h5>{{ 'FOOTER.GOODREADS' | translate }}</h5>
    <span>{{ 'FOOTER.GOODREADS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.ZAPPOS' | translate }}</h5>
    <span>{{ 'FOOTER.ZAPPOS_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.LUNA' | translate }}</h5>
    <span>{{ 'FOOTER.LUNA_DESC' | translate }}</span>
  </div>

  <div>
    <h5>{{ 'FOOTER.VEEQO' | translate }}</h5>
    <span>{{ 'FOOTER.VEEQO_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.IMDB' | translate }}</h5>
    <span>{{ 'FOOTER.IMDB_DESC' | translate }}</span>
  </div>
  <div>
    <h5>{{ 'FOOTER.RING' | translate }}</h5>
    <span>{{ 'FOOTER.RING_DESC' | translate }}</span>
  </div>
</div>

<div class="footer-legal">
  <p>{{ 'FOOTER.LEGAL' | translate }}</p>
</div>
<div class="footer-sec-3">
  <div class="container">
    <div class="footer-sec-4 justify-content-between text-white pt-5">
      <!-- You can add any extra legal links or copyright -->
      <div class="footer-width">© 2025 YourCompany Inc.</div>
      <div class="footer-width">Privacy · Terms · Cookies</div>
    </div>
  </div>
</div>