<section>
    <div class="container">
        <div class="row my-5 ">
            <div class="col-md-4">
                 <a routerLink="/football" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/S/al-na-9d5791cf-3faf/ef426bcc-e682-47d0-9c86-ddfa41f3b3e4._CR0,290,2560,1341_FMavif_SX920_PQ50_.jpg" class="w-100" alt="meats">
                        <h2 class="mt-3">{{ 'CATEGORIES.FOOTBALL' | translate }}</h2>
                </a>
            </div>
            <div class="col-md-4">
                <a  routerLink="/gym" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/S/al-na-9d5791cf-3faf/73a8bdd7-ae8f-4f77-a959-5cecf7d2e263._CR0,367,2560,1340_FMavif_SX920_PQ50_.jpg" class="w-100" alt="canned">
                        <h2 class="mt-3">{{ 'CATEGORIES.GYM' | translate }}</h2>
                </a>
            </div>
            <div class="col-md-4 ">
                <a routerLink="/basketball" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/S/al-na-9d5791cf-3faf/07d5d297-6455-4d07-8f8e-57c59bed03eb._CR0,172,2400,1257_FMavif_SX920_PQ50_.jpg" class="w-100" alt="veges & fruits">
                    <h2>{{ 'CATEGORIES.BASKETBALL' | translate }}</h2>
                </a>
            </div>
        </div>
    </div>
</section>
