<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-01.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
          <div class="carousel-item position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-03.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
          <div class="carousel-item position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-02.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<app-sub-fashoin></app-sub-fashoin>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="">
        <h5 class="mb-3">SPRING SALE 30% OFF</h5>
        <h2 class="mb-3">Effortless
          Denim Delights</h2>
          <p class="mb-3">Discover the versatility of denim with our collection of jeans, jackets</p>
          <a routerLink="/women" class="text-black text-decoration-none sub"> <button class=" position-absolute position-btn">Women</button></a>
      </div>

    </div>
    <div class="col-md-6">
      <img src="https://themesflat.co/html/ecomus/images/collections/collection-25.jpg" class="w-100" alt="">
    </div>
  </div>
</div>
<app-products [products]="products"></app-products>

<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-6 ancor">
      <img src="https://themesflat.co/html/ecomus/images/shop/file/banner-gr-1.jpg" class="w-100" alt="">
      <h5 class="my-3">Accessories Galore</h5>
      <h6>Shop through our latest selection of Fashion</h6>
      <a routerLink="/women">Shop Now</a>
    </div>
    <div class="col-md-6 ancor">
      <img src="https://themesflat.co/html/ecomus/images/shop/file/banner-gr-2.jpg" class="w-100" alt="">
      <h5 class="my-3">Accessories Galore</h5>
      <h6>Shop through our latest selection of Fashion</h6>
      <a routerLink="/women">Shop Now</a>
    </div>
  </div>
</div>


