<div *ngIf="isLoading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Loading your wishlist...</p>
  </div>
  
  <div *ngIf="!isLoading">
    <div *ngIf="wishlist.length === 0" class="empty-wishlist">
      <i class="fas fa-heart"></i>
      <h3>{{ 'wishlist.empty_title' | translate }}</h3>
      <p>{{ 'wishlist.empty_description' | translate }}</p>
      <button class="browse-btn" routerLink="/homecategory">{{ 'BUTTONS.BROWSE_PRODUCTS' | translate }}</button>
    </div>
  
    <div *ngIf="wishlist.length > 0" class="wishlist-content">
      <div *ngFor="let product of wishlist" class="wishlist-item" [id]="'product-' + product.productID">
        <div class="wishlist-item-image">
          <img [src]="product.imgCover" alt="Product image">
        </div>
        <div class="wishlist-item-details">
          <h5>{{ product.name }}</h5>
          <button class="p-2 details" [routerLink]="['/product-details', product.productID]"> {{ 'BUTTONS.VIEW_DETAILS' | translate }}</button>
          
          <button class="remove-btn" (click)="removeFromWishlist(product)">×</button>
        </div>
      </div>
    </div>
  </div>
  


  
  

