nav{
    background-color: #485769;
    padding: 10px 0px;
}
.log{
    background-color: #FFCE12;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;

}

li a , .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
}
.img-nav{
    width: 100%;
    height: 50px;
}
input{
    width: 55rem;
    height: 2rem;
    align-self: center;
}
.list-items{
    background-color: #232F3E;
}
.list-items ul li{
    list-style-type: none;
}
.list-items ul a{
    text-decoration: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
    border: 1px solid transparent;
    color: white;
}