
<section class="mt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 position-relative sub">
                <img src="https://themesflat.co/html/ecomus/images/collections/collection-21.jpg" class="w-100" alt="women">
                <a routerLink="/women" class="text-black text-decoration-none"> <button class=" position-absolute position-btn">Women</button></a>
            </div>
            <div class="col-md-4 position-relative sub">
                <img src="https://themesflat.co/html/ecomus/images/collections/collection-24.jpg" class="w-100" alt="women">
                <a routerLink="/men" class="text-black text-decoration-none"> <button class=" position-absolute position-btn">Men</button></a>
            </div>
            <div class="col-md-4 position-relative sub bg-sub">
                <img src="https://themesflat.co/html/ecomus/images/collections/cls-personalized-pod-4.jpg" class="w-100 " alt="women">
                <a routerLink="/children" class="text-black text-decoration-none"> <button class=" position-absolute position-btn">Children</button></a>
            </div>
        </div>
    </div>
</section>
