
  <section class="login">
    <div class="container mt-5">
      <div class="row justify-content-center justify-content-between">
        <div class="col-md-6">
          <img src="https://th.bing.com/th/id/OIP.72nxyS6R26MnQkqagCTDfwHaFE?w=1400&h=958&rs=1&pid=ImgDetMain" class="w-100" alt="">
        </div>
        <div class="col-md-6">
          <h2 class="text-center">Login</h2>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="mb-3">
              <label for="emailOrUserName" class="form-label">Username / Email</label>
              <input type="text" id="emailOrUserName" [(ngModel)]="formValues.emailOrUserName" name="emailOrUserName" class="form-control" required  #emailOrUserName="ngModel"  />
              <div *ngIf="emailOrUserName.invalid &&  emailOrUserName.touched && !isValidEmailOrUsername(formValues.emailOrUserName)" class="text-danger">
                <div *ngIf="emailOrUserName.errors?.['required']">Username or Email is required.</div>
            </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" [(ngModel)]="formValues.password" name="password" class="form-control" required minlength="8" 
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,20}$"
              #password="ngModel"/>
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger mt-1">
                <div *ngIf="password.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="!password.errors?.['required'] && password.errors?.['minlength']">
                  Password must be at least 8 characters long.
                </div>
                <div *ngIf="!password.errors?.['required'] && !password.errors?.['minlength'] && password.errors?.['pattern']">
                  Password must include at least one uppercase letter, one lowercase letter, one number, and one special character.
                </div>
              </div>
            
            </div>
    
            <div class="mb-3">
              <button type="submit" class="btn btn-primary w-100" [disabled]="!loginForm.form.valid">
                Login
              </button>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <a routerLink="/register" class="text-black">sign up</a>
              <a routerLink="/forgetpassword" class="text-black">forget password</a>
            </div>
    
          </form>
        </div>
      </div>
    </div>
  </section>
  
