
  <div class="reset-password-container w-50 mx-auto my-5">
    <h2>Reset Your Password</h2>
  
  
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  
  
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your new password"
        />
        <div
          *ngIf="resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['password'].touched"
          class="validation-error"
        >
          <p>Password is required and should be at least 6 characters long.</p>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary mt-3" [disabled]="resetPasswordForm.invalid">
        Reset Password
      </button>
    </form>
  </div>
  
  
  
