<section class="grocery-sec">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-3 ">
                <a routerLink="/fruits" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/G/42/consumables/Stores/Grocery-440x480-EE._SS400_QL85_.jpg" class="subgrocery" alt="veges & fruits">
                        <h2>veges & fruits</h2>
                </a>
            </div>
            <div class="col-md-3">
                 <a routerLink="/meats" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/G/42/consumables/stores22/Supermarket/1461724_EG_L2_6Col_CN_Grocery_440x440_herbspices_aabd0ce7-96bd-415b-a865-225b497640a3.jpg" class="subgrocery" alt="meats">
                        <h2>meats</h2>
                </a>
            </div>
            <div class="col-md-3">
                <a  routerLink="/canned" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/G/42/consumables/2024/1707236_12_EG_L2_6Col_Sauces_CN_440x440.jpg" class="subgrocery" alt="canned">
                        <h2>canned</h2>
                </a>
            </div>
            <div class="col-md-3 ">
                <a routerLink="/drinks" class="text-black text-decoration-none">
                    <img src="https://m.media-amazon.com/images/G/42/Egypt-hq/2022/img/Consumables/XCM_Manual_1523772_5257233_440x440_2X.jpg" class="subgrocery" alt="drinks">
                        <h2>drinks</h2>
                </a>
            </div>
        </div>
    </div>
</section>
