<app-nav-dashbord></app-nav-dashbord>
<div class="container">
  <form class="row g-3 p-4" [formGroup]="AddSubcategoryForm" (ngSubmit)="handleAddAddSubcategoryForm()">
    <div class="col-md-3">
      <label for="subcategoryName" class="form-label">Subcategory Name</label>
      <input type="text" class="form-control" id="subcategoryName" formControlName="subcategoryName" placeholder="Enter Subcategory Name">
      
      <div *ngIf="formControls['subcategoryName'].invalid && formControls['subcategoryName'].touched" class="form-text text-danger">
        <span *ngIf="formControls['subcategoryName'].hasError('required')">Required Field</span>
        <span *ngIf="formControls['subcategoryName'].hasError('minlength')">Length must be greater than 3</span>
      </div>
    </div>
  
    <div class="col-md-4">
      <label for="categoryName" class="form-label">Category Name</label>
      <select id="categoryName" class="form-select" formControlName="categoryId">
        <option value="">Select a Category</option>
        <option *ngFor="let item of categories; trackBy: trackByCategoryId" [value]="item.categoryID">
          {{ item.categoryName }}
        </option>
      </select>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="AddSubcategoryForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>




