<app-nav-dashbord></app-nav-dashbord>
<div class="container ">
  <h3 class="my-4">New Subcategory</h3>
  <form class="row g-3 p-4" [formGroup]="AddSubcategoryForm" (ngSubmit)="handleAddAddSubcategoryForm()" class="mb-5 p-4 border rounded shadow">
    <div class="col-md-12">
      <label for="subcategoryName" class="form-label">Subcategory Name</label>
      <input type="text" class="form-control" id="subcategoryName" formControlName="subcategoryName" placeholder="Enter Subcategory Name">
      
      <div *ngIf="formControls['subcategoryName'].invalid && formControls['subcategoryName'].touched" class="form-text text-danger">
  
        <!-- إذا كان الحقل مطلوب -->
        <span *ngIf="formControls['subcategoryName'].hasError('required')">
          Required Field
        </span>
      
        <!-- إذا كان يحتوي فقط على مسافات -->
        <span *ngIf="!formControls['subcategoryName'].hasError('required') && formControls['subcategoryName'].hasError('noSpaces')">
          Subcategory name cannot contain only spaces.
        </span>
      
        <!-- إذا كان يبدأ بمسافة -->
        <span *ngIf="!formControls['subcategoryName'].hasError('required') && !formControls['subcategoryName'].hasError('noSpaces') && formControls['subcategoryName'].hasError('noLeadingSpace')">
          Subcategory name cannot start or end with spaces.
        </span>
      
        <!-- إذا كان الطول أقل من 3 أحرف -->
        <span *ngIf="!formControls['subcategoryName'].hasError('required') && !formControls['subcategoryName'].hasError('noSpaces') && !formControls['subcategoryName'].hasError('noLeadingSpace') && formControls['subcategoryName'].hasError('minlength')">
          Subcategory name should be at least 3 characters long.
        </span>
      
        <!-- إذا تجاوز الحد الأقصى -->
        <span *ngIf="!formControls['subcategoryName'].hasError('required') && !formControls['subcategoryName'].hasError('noSpaces') && !formControls['subcategoryName'].hasError('noLeadingSpace') && !formControls['subcategoryName'].hasError('minlength') && formControls['subcategoryName'].hasError('maxlength')">
          Subcategory name should not exceed 100 characters.
        </span>
      
      </div>
      
      
    </div>
  
    <div class="col-md-12 my-3">
      <label for="categoryName" class="form-label">Category Name</label>
      <select id="categoryName" class="form-select" formControlName="categoryId">
        <option value="">Select Category</option>
        <option *ngFor="let item of categories; trackBy: trackByCategoryId" [value]="item.categoryID">
          {{ item.categoryName }}
        </option>
      </select>
      <div *ngIf="formControls['subcategoryName'].invalid && formControls['subcategoryName'].touched" class="form-text text-danger">
  
      <span *ngIf="formControls['categoryId'].hasError('required')">
        Required Field
      </span>
      </div>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="AddSubcategoryForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>




