<app-nav-dashbord></app-nav-dashbord>



<div class="container my-5">
<div class="d-flex m-3">
  <div class="card mx-5 border rounded shadow" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Users</h5>
   
      <p class="card-text">Total Users Registered in site {{usersCount}}</p>
     
    </div>
  </div>
  <div class="card mx-5 border rounded shadow" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Products</h5>
   
      <p class="card-text">Total products in site {{productsCount}}</p>
     
    </div>
  </div>
  <div class="card mx-5 border rounded shadow" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Subcategories</h5>
   
      <p class="card-text">Total Subcategories in site {{subcategoriesCount}}</p>
    </div>
  </div>
  <div class="card mx-5 border rounded shadow" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total categories</h5>
   
      <p class="card-text">Total Categories in site {{categoriesCount}}</p>
    </div>
  </div>
</div>
</div>



