
.sec-home{
    background-color: white;
    color: black;
    height: 26rem;
}
.position-sec {
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 98%; 
    z-index: 10; 
    position: absolute;
    display: flex;
  }
.carousel-control-next, .carousel-control-prev{
   bottom: 60%;
}
.carousel-control-next-icon ,.carousel-control-prev-icon{
   background-color:  black !important;
}
.bg-color{
    background-color: #E3E6E6;
}
.padding{
padding-top: 30px;
}
.sub button{
    background-color: #FFCE12;
    color: white;
    border: 1px solid #FFCE12;
    border-radius: 4px;
    padding: 10px 20px;
  }
  .sub button:hover{
    background-color: white;
    color: black;
  }
  h2{
    font-size: 40px;
  }
  .ancor a{
    color: black;
    cursor: pointer;
  }
  .ancor a:hover{
    color: #FC5732;
  }

  
@media screen and (max-width:768px) {
    .sec-home{
        background-color: white;
        color: black;  
        height: 50rem;
         padding-bottom: 100px !important;
    }
    .position-sec {
        display: none;
      }
}
