<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-04.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
          <div class="carousel-item position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-05.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
          <div class="carousel-item position-relative">
            <img src="https://themesflat.co/html/ecomus/images/slider/fashion-slideshow-06.jpg" class="d-block w-100 h-50" alt="...">
            <div class="text-black z-2 position-absolute position">
              <h1>Ribbed modal T-shirt</h1>
              <p>Discover the versatility of denim with our collection of jeans, jackets</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<app-sub-fashoin></app-sub-fashoin>
<app-products [products]="products"></app-products>
<div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="">
          <h5 class="mb-3">Hongkong Store</h5>
          <p class="w-50 text-muted">301 Front St WToronto,
            Ecomussupport.com
            (08) 8942 1299</p>
            <p class="mb-3 w-50 text-muted">Mon - Fri, 8:30am - 10:30pm
                Saturday, 8:30am - 10:30pm
                Sunday Closed</p>
        </div>
  
      </div>
      <div class="col-md-6">
        <img src="https://themesflat.co/html/ecomus/images/shop/store/ourstore1.png" class="w-100" alt="">
      </div>
    </div>
  </div>
