<div class="settings-container">
    <h2>Settings</h2>
    <div class="settings-grid">
      
          
  
      <div class="settings-card">
        <i class="fa-solid fa-crown fa-2x text-warning"></i>
        <h3>{{ 'settings.prime_membership_title' | translate }}</h3>
        <p>{{ 'settings.prime_membership_desc' | translate }}</p>
        <button class="settings-button">{{ 'BUTTONS.VIEW' | translate }}</button>
      </div>
  
      <div class="settings-card">
        <i class="fa-solid fa-gift fa-2x text-success"></i>
        <h3>{{ 'settings.gift_cards_title' | translate }}</h3>
        <p>{{ 'settings.gift_cards_desc' | translate }}</p>
        <button class="settings-button">{{ 'BUTTONS.CHECK' | translate }}</button>
      </div>
  
      
  
      <div class="settings-card">
        <i class="fa-solid fa-headset fa-2x text-danger"></i>
        <h3>{{ 'settings.customer_service_title' | translate }}</h3>
        <p>{{ 'settings.customer_service_desc' | translate }}</p>
        <a href="mailto:support@yourdomain.com?subject=Customer%20Support" class="settings-button">{{ 'BUTTONS.SUPPORT' | translate }}</a>
      </div>
      

      <div class="settings-card">
        <i class="fa-solid fa-globe fa-2x text-primary"></i>
        <h3>{{ 'LANGUAGE_SETTINGS.TITLE' | translate }}</h3>
        <p>{{ 'LANGUAGE_SETTINGS.DESCRIPTION' | translate }}</p>
      
        <app-language-switcher></app-language-switcher>
      </div>
      
      
    </div>
  </div>
  